<strong class='title'><%= link_to gift.title, gift_path(gift) %></strong>

<div class='money'>
Time: 
<% if gift.due_date > Time.now %>
  <% timeLeft = gift.due_date - Time.now %>
  <% minsLeft = timeLeft/60 %>
  <% hoursLeft = minsLeft/60 %>
  <% daysLeft = hoursLeft/24 %>
  <% if daysLeft < 1 %>
    <% if hoursLeft < 1 %>
      <% if minsLeft > 0 %>
        <%= minsLeft.round %> minutes remaining
      <% else %>
        Contribution Period Over
      <% end %>
    <% else %>
      <%= hoursLeft.round %> hours remaining
    <% end %>
  <% else %>
    <%= daysLeft.round %> days remaining
  <% end %>
<% end %>
</div>

<div class='money'>Goal: <%= number_to_currency(gift.current_total/1000, unit: "$") %>/<%= number_to_currency(gift.price.to_d/1000, unit: "$")%></div>
