<% if signed_in? == false %>
  <h1>Log In or Sign Up to see this page.</h1>
<% else %>
  <h1>Welcome <%= @current_user.username %>!</h1>

  <h2>Gifts to Fund</h2>

  <div class='dashboardGroup'>
    <% if @current_user.contributions.count == 0 %>
      <small>No Gifts to Fund</small>
    <% else %>
      <div class='giftGroup'>
        <% @current_user.contributions.each do |contribution| %>
          <% if contribution.gift.active == true %>
            <div class='lineItem'>
              <%= render partial: 'contributionTime', locals: {contribution: contribution} %>
              <% if (contribution.gift.can_fund == true) && (contribution.paid == false) %>
                <%= render partial: 'formStripe', locals: {contribution: contribution} %>
              <% elsif (contribution.gift.can_fund == false) %>
                <div class='fundStatus'>Awaiting More Funds</div>
              <% else %>
                <div class='funded'>PAID</div>
              <% end %>
            </div>
            <br>
          <% elsif (contribution.gift.active == false) && (contribution.gift.can_fund == true) && (contribution.paid == true) %>
              <!-- do nothing -->
          <% else %>
            <div class='lineItem'>
              <%= render partial: 'contributionTime', locals: {contribution: contribution} %>
              <% if contribution.paid == false %>
                <%= render partial: 'formStripe', locals: {contribution: contribution} %>
              <% else %>
                <div class='fundStatus'>PAID</div>
              <% end %>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


  <br><br>


  <h2>Gift Groups You Started</h2>
  <div class='dashboardGroup'>
    <% if @current_user.gifts.count == 0 %>
      <small>You haven't created a gift to fund yet</small>
    <% else %>
      <div class='giftGroup'>
        <% @current_user.gifts.each do |gift| %>
          <% if gift.active == true %>
            <div class='lineItem'>
              <%= render partial: 'giftTime', locals: {gift: gift} %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  

  <br><br>


  <h2>Archive</h2>
  <% if @current_user.gifts.count == 0 && @current_user.contributions.count == 0 %>
    <small>Empty</small>
  <% else %>
    <% if @current_user.gifts.count != 0 %>
      <h4>Your Gifting Groups</h4>
      <div class='dashboardGroup'>
      <% @current_user.gifts.each do |gift| %>
        <% if gift.active == false %>
          <div class='giftGroup'>
            <div class='lineItem'>
              <strong class='title'><%= gift.title %></strong>
              <div class='money'>Goal: <%= number_to_currency(gift.current_total/1000, unit: "$") %>/<%= number_to_currency(gift.price.to_d/1000, unit: "$")%></div>
              <% if gift.current_total < gift.price %>
                <div class='fundStatus'>MISSED</div>
              <% else %>
                <div class='fundStatus'>FUNDED</div>
              <% end %>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
      <br><br>
      </div>
    <% end %>



    <% if @current_user.gifts.count != 0 %>
      <h4>Your Contributions</h4>
      <div class='dashboardGroup'>
      <% @current_user.contributions.each do |contribution| %>
        <% if (contribution.gift.active == false) && (contribution.paid == true) %>
          <div class='giftGroup'>
            <div class='lineItem'>
              <strong class='title'><%= contribution.gift.title %></strong>
              <div class="money">Your Contribution: <%= number_to_currency(contribution.amount/1000) %></div>
              <div class="money">Goal: <%= number_to_currency(contribution.gift.current_total/1000, unit: "$") %>/<%= number_to_currency(contribution.gift.price/1000, unit: "$")%></div>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
      <br><br>
      </div>
    <% end %>
  <% end %>

<% end %>

