<div class='row'>
<h1 class="welcomeDash columns">Welcome <%= @current_user.username %>!</h1>
</div>

<div class='dashboardGroup'>
  <div class='row'>
    <h2 class="groupTitle columns">Gifts to Fund</h2>
  </div>
  <% if @current_user.contributions.count == 0 %>
    <div class='row'>
      <p class='columns'>No Gifts to Fund</p>
    </div>
  <% else %>
    <div class='giftGroup'>
      <% @current_user.contributions.each do |contribution| %>
        <% if contribution.gift.active == true %>
          <div class='lineItem row'>
            <%= render partial: 'titleContributionCONTRI', locals: {contribution: contribution} %>
            <% if (contribution.gift.can_fund == true) && (contribution.paid == false) %>
              <%= render partial: 'formStripe', locals: {contribution: contribution} %>
            <% elsif (contribution.gift.can_fund == false) %>
              <div class='fundPending medium-3 small-6 columns left'>Pending Funds</div>
            <% else %>
              <div class='fundPaid medium-3 small-6 columns left'>PAID</div>
            <% end %>
          </div>
          <div class='row'>
            <%= render partial: 'creatorTimeGoalCONTRI', locals: {contribution: contribution} %>
          </div>
        <% elsif (contribution.gift.active == false) && (contribution.gift.can_fund == true) && (contribution.paid == true) %>
            <!-- do nothing -->
        <% else %>
          <div class='lineItem row'>
            <%= render partial: 'titleContributionCONTRI', locals: {contribution: contribution} %>
            <% if contribution.paid == false %>
              <%= render partial: 'formStripe', locals: {contribution: contribution} %>
            <% else %>
              <div class='fundPaid medium-3 small-6 columns left'>PAID</div>
            <% end %>
          </div>
          <div class='row'>
            <%= render partial: 'creatorTimeGoalCONTRI', locals: {contribution: contribution} %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<br>







<div class='dashboardGroup'>
  <div class='row'>
    <h2 class="groupTitle columns">Gift Groups You Started</h2>
  </div>
  <% if @current_user.gifts.count == 0 %>
    <div class='row'>
      <p class='columns'>You haven't created a gift to fund yet</p>
    </div>
  <% else %>
    <div class='giftGroup'>
      <% @current_user.gifts.each do |gift| %>
        <% if gift.active == true %>
          <div class='lineItem row'>
            <div class='titleDash medium-4 small-12 columns'><%= link_to gift.title, gift_path(gift) %></div>
            <div class='money medium-5 small-6 columns'>Goal: <%= number_to_currency(gift.current_total/1000, unit: "$") %>/<%= number_to_currency(gift.price.to_d/1000, unit: "$")%></div>
            <% if (gift.can_fund == true) && (all_paid?(gift) == false) %>
              <div class='fundPending medium-3 small-6 columns left' id='pendingTransfer'>Pending Transfers</div>
            <% else %>
              <div class='fundPending medium-3 small-6 columns left'>Pending Funds</div>
            <% end %>
          </div>
          <div class='row'>
            <%= render partial: 'creatorTimeGoalGIFT', locals: {gift: gift} %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<br>



<div class='dashboardGroup'>
  <div class='row'>
    <h2 class="groupTitle columns">Archive</h2>
  </div>
  <% if @current_user.gifts.count == 0 && @current_user.contributions.count == 0 %>
    <div class='row'>
      <p class='columns'>Empty</p>
    </div>
  <% else %>


    <% if @current_user.gifts.count != 0 %>
      <div class='row'>
        <h4 class="subGroupTitle columns">Previous Gifting Groups</h4>
      </div>
      <div class='dashboardGroup'>
      <div class='giftGroup'>
      <% @current_user.gifts.each do |gift| %>
        <% if gift.active == false %>
            <div class='lineItem row'>
              <div class='titleDash medium-4 small-12 columns'><%= link_to gift.title, gift_path(gift) %></div>
              <div class='money medium-5 small-6 columns'>Goal: <%= number_to_currency(gift.current_total/1000, unit: "$") %>/<%= number_to_currency(gift.price.to_d/1000, unit: "$")%></div>
              <% if gift.current_total < gift.price %>
                <div class='fundMiss medium-3 small-6 columns left'>MISSED</div>
              <% elsif all_paid?(gift) %>
                <div class='fundFunded medium-3 small-6 columns left'>FUNDED</div>
              <% else %>
                <div class='fundFunded medium-3 small-6 columns left'>FUNDED</div>
              <% end %>
            </div>
          <br>
        <% end %>
      <% end %>
      </div>
      </div>
    <% end %>
</div>

<div class='dashboardGroup'>
  <% if @current_user.gifts.count != 0 %>
    <div class='row'>
      <h4 class="subGroupTitle columns">Paid Contributions</h4>
    </div>

    <div class='giftGroup'>
    <% @current_user.contributions.each do |contribution| %>
      <% if (contribution.gift.active == false) && (contribution.paid == true) %>
          <div class='lineItem row'>
            <div class='titleDash medium-4 small-12 columns'><%= link_to contribution.gift.title, gift_path(contribution.gift) %></div>
            <div class="money medium-5 small-6 columns">Your Contribution: <%= number_to_currency(contribution.amount/100) %></div> 
            <div class='fundPaid medium-3 small-6 columns left'>PAID</div>
          </div>
        <br>
      <% end %>
    <% end %>
    </div>
    <br><br>
    </div>
  <% end %>
<% end %>

