<%= form_for @user, url: '/sessions', method: 'post' do |f| %>
  <% if flash[:error] %>
    <div id="error_explanation">
      <%= flash[:error] %>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Sign In' %>
    </div>
    
<% end %>