<p id="notice"><%= notice %></p>

<h1>Listing Gifts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Gift url</th>
      <th>Due date</th>
      <th>Recipient</th>
      <th>User</th>
      <th>Hashed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.title %></td>
        <td><%= gift.description %></td>
        <td><%= gift.price %></td>
        <td><%= gift.gift_url %></td>
        <td><%= gift.due_date %></td>
        <td><%= gift.recipient %></td>
        <td><%= gift.user_id %></td>
        <td><%= gift.hashed_id %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_gift_path %>
