<!-- START CONTRIBUTE LINK -->
<%= render partial: 'contributions/form' %>
<!-- END CONTRIBUTE LINK -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@gift.price.to_d/100) %>
</p>

<p>
  <strong>Gift url:</strong>
  <%= @gift.gift_url %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @gift.due_date %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @gift.recipient %>
</p>

<p>
  <strong>User:</strong>
  <%= @gift.user_id %>
</p>


<% if current_user.id == @gift.user_id %>
  <%= link_to 'Edit', edit_gift_path(@gift) %> |
<% end %>
<%= link_to 'Back', dashboard_path %>
