<p id="notice"><%= notice %></p>

<h1>Listing Contributions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gift</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.user_id %></td>
        <td><%= contribution.gift_id %></td>
        <td><%= contribution.amount %></td>
        <td><%= link_to 'Show', contribution %></td>
        <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- START STRIPE CHECKOUT -->

        <form action="/gifts/:gifts_id/contributions" method="POST">
        
        <!-- REPLACE TEST DATA KEY WITH REAL KEY -->
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key= <%= contribution.user.publishable_key %>
            data-amount= <%= contribution.amount %>
            data-name="Demo Site"
            data-description="2 widgets ($20.00)"
            data-image="/128x128.png">
          </script>
        </form>

        <!-- END STRIPE -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Contribution', new_contribution_path %>
