<p id="notice"><%= notice %></p>

<h1>Listing Contributions</h1>

<table>
  <thead>
    <tr>
      <th>GIFT</th>
      <th>User</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.gift.title %></td>
        <td><%= contribution.user_id %></td>
        <td><%= contribution.amount %></td>
        <td><%= link_to 'Show', contribution %></td>
        <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- START STRIPE CHECKOUT -->


        <td>
          <%= form_for contribution, :url => update_gift_contribution_path(contribution), method: :put do |f| %>
            <!-- REPLACE TEST DATA KEY WITH REAL KEY -->

            <%= hidden_field(:contribution, :id, value: contribution.id) %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key= <%= contribution.gift.user.publishable_key %>
              data-amount= <%= contribution.amount.to_i %>
              data-name="Demo Site"
              data-description="2 widgets ($20.00)"
              data-image="assets/small_logo.png">
            </script>
        </td>


        <% end %>

        <!-- END STRIPE -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Contribution', new_contribution_path %>
