<p id="notice"><%= notice %></p>

<h1>Listing Contributions</h1>

      <h1>GIFT</h1>
      <h3>User</h3>
      <h3>Amount</h3>

    <% @contributions.each do |contribution| %>
        <%= contribution.gift.title %>
        <%= contribution.user_id %>
        <%= contribution.amount %>
        <%= link_to 'Show', contribution %>
        <%= link_to 'Edit', edit_contribution_path(contribution) %>
        <%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- START STRIPE CHECKOUT -->

        <% if current_user.publishable_key %>
        <td>
          <%= form_for contribution, :url => update_gift_contribution_path(contribution), method: :put do |f| %>
            <!-- REPLACE TEST DATA KEY WITH REAL KEY -->

            <%= hidden_field(:contribution, :id, value: contribution.id) %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key= <%= current_user.publishable_key %>
              data-amount= <%= contribution.amount.to_i %>
              data-name="Demo Site"
              data-description="2 widgets ($20.00)">
            </script>
          <% end %>
        </td>


        <% end %>

        <!-- END STRIPE -->
      
    <% end %>
  </tbody>
</table>

<%= link_to 'New Contribution', new_contribution_path %>
