<div class="top-bar-bg">
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <a href="/"><img src="../../assets/robin_logo2.svg"/></a>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="menu-button">
            <% if current_user %> 
              <a href="#" class="user-avatar"><%= image_tag gravatar_url(current_user.email, 100), alt: "user_avatar", class: "user-avatar" %></a>
            <% else %>
              <a href="#" class"sign-in"><b>Sign In</ b></a>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>


<div class="menu-container">
  <div class="contain-to-grid">
    <div class="row">
      <ul class="menu medium-6 large-4 columns right">
          <% if current_user == nil %>
              <!-- LOGIN FORM IF NOT LOGGED IN -->
              <%= render "/devise/sessions/form" %>
                    
            <li>
              <%= link_to "Create Account", new_user_registration_path %>    
            </li>
          <% else %>
            <!-- USER PROFILE IF LOGGED IN -->

            <%= link_to current_user.username, show_user_path(current_user) %>

            
            <% if current_user.publishable_key %>
              <div class="stripeStatus">stripe connected!</div>
            <% end %>
            



            <li>  
              <%= link_to "Create Gift Group", new_gift_path %>
            </li>
            <li>
              <%= link_to "Sign Out", sign_out_path, method: 'delete'  %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>

