<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>






<nav class="navbar">
    <ul class="main">
      <li>
        <div class="home-button">
          <h1><%= link_to "Home", root_path %></h1>
        </div>
      </li> 
      <li>
        <div class="menu-button">
          <% if current_user %> 
            <h2><a href="#">Menu</a></h2>
          <% else %>
            <h2><a href="#">Sign In</a></h2>
          <% end %>
        </div>    
      </li>
    </ul>
</nav>

<ul class="menu open">
  <% if current_user == nil %>
      <!-- LOGIN FORM STARTS -->
      <!--  move to partial -->
      <%= render "/devise/sessions/form" %>
      <%= render "/devise/shared/links" %>
            
      <!-- LOGIN FORM ENDS -->
    <li>
      <%= link_to "Create Account", new_user_registration_path %>    
    </li>
  <% else %>
    <li>
      <%= link_to "Gift Groups", gifts_path %>
    </li>
    <li>  
      <%= link_to "Create Gift Group", new_gift_path %>
    </li>
    <li>
      <%= link_to "Sign Out", sign_out_path, method: 'delete'  %> 
    </li>
  <% end %>
</ul>
