<nav>
  <%= link_to "Home", root_path %> 
  <% if current_user == nil %>
    <%= link_to "Create Account", new_user_registration_path %>    
    <%= link_to "sign In", new_user_session_path %>
  <% else %>
    <%= link_to "Gift Groups", gifts_path %>
    <%= link_to "Create Gift Group", new_gift_path %>
    <%= link_to "Sign Out", destroy_user_session_path, method: 'delete'  %>  
  <% end %>
</nav>